<ion-header>
  <ion-toolbar>
    <ion-title>Edicion de reseñas</ion-title>
    <ion-button fill="clear" size="default" (click)='back()' slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card>
      <div *ngFor="let review of bookReviews">
      <ion-card-header>

        <ion-card-title class="titulo">{{ review.book.name}}</ion-card-title>

        <ion-card-subtitle class="reseña">Reseña</ion-card-subtitle>
        <ion-textarea [autoGrow]="true" class="autor">{{ review?.description}}</ion-textarea>

        <ion-card-subtitle class="fecha">Fecha de publicacion</ion-card-subtitle>
        <ion-textarea [autoGrow]="true" class="autor">{{ review?.created}}</ion-textarea>

        <ion-card-subtitle class="idReseña">ID</ion-card-subtitle>
        <ion-textarea class="autor">{{ review?.id}}</ion-textarea>
      </ion-card-header>
    </div>
    </ion-card>
  </ion-item>

  <ion-button fill="clear" size="default"><ion-icon name="save-outline"></ion-icon></ion-button>

</ion-content>
