<ion-header>
  <ion-toolbar>
    <ion-title>Añadir libro</ion-title>
    <ion-button fill="clear" size="default" (click)='back()' slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item id="custom-item" counter="true">
        <ion-label>Titulo</ion-label>
        <ion-input [clearInput]="true" type="text"  placeholder="Introduce el titulo"></ion-input>
      </ion-item>
  
      <ion-item id="custom-item" counter="true">
        <ion-label>Autor</ion-label>
        <ion-input [clearInput]="true" type="text" placeholder="Introduce el autor"></ion-input>
      </ion-item>

      <ion-item id="custom-item" counter="true">
        <ion-label >ISBN</ion-label>
        <ion-input [clearInput]="true" type="number" placeholder="Introduce el ISBN"></ion-input>
      </ion-item>

      <ion-item id="publicacion" counter="true">
        <ion-label position="floating" style="margin-right: 10px;">Fecha de publicación</ion-label>
        <ion-button id="botonFlecha" fill="clear" size="default" style="margin-left: 150px;" (click)="toggleDateTime()">
          <ion-icon *ngIf="!mostrarDateTime" name="arrow-down-outline"></ion-icon>
          <ion-icon *ngIf="mostrarDateTime" name="arrow-up-outline"></ion-icon>
        </ion-button>
        <ion-datetime *ngIf="mostrarDateTime"></ion-datetime>
      </ion-item>

      <ion-item id="custom-item" counter="true" > 
        <ion-label position="floating" >Seleccionar imagen</ion-label>
        <ion-input type="file" accept="image/*" ></ion-input>
      </ion-item>
      
    </ion-list>
  </ion-card>

  <ion-button fill="outline" size="default" class="botonCrear" (click)="createBook()">Crear libro </ion-button>

</ion-content>
