<ion-header>
  <ion-toolbar>
    <ion-title>Libros</ion-title>
    <ion-button slot="start" (click)='back()'>
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-card>
        <ion-img class="portada" src="{{book.cover}}" ></ion-img>
        <ion-card-header>
          <ion-card-title class="titulo">{{ book.name}}</ion-card-title>
          <ion-card-subtitle class="autor">{{ book.author}}</ion-card-subtitle>
          <ion-card-subtitle class="autor">{{ book.published}}</ion-card-subtitle>
          <ion-card-subtitle class="autor">{{ book.isbn}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>